In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
from tensorflow import keras

In [7]:
df=pd.read_csv("fertility_Diagnosis.csv")
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [8]:
df['Diagnosis'].replace({'N':0,"O":1},inplace=True)

In [3]:
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.316753,0.173970,-2.586949,1.128152,0.980196,-0.32881,-0.192006,0.434959,2.551481,0
1,-0.316753,2.245043,0.386556,-0.886405,0.980196,-0.32881,-0.192006,1.677698,-0.521943,1
2,-0.316753,-1.400045,0.386556,-0.886405,-1.020204,-0.32881,1.008032,-0.807781,0.502532,0
3,-0.316753,0.671028,-2.586949,1.128152,0.980196,-0.32881,1.008032,-0.807781,-0.144505,0
4,-0.316753,0.008284,0.386556,1.128152,-1.020204,-0.32881,-0.192006,-0.807781,0.502532,1

In [14]:
columns=['Seasons','Age','Disease','Trauma','Surgical_intervention','Smoking','Fever','alcohol_consumption�','Sitting']
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[columns]=scaler.fit_transform(df[columns])

In [15]:
df.head()

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption�,Sitting,Diagnosis
0,0.335,0.38,0.0,1.0,1.0,0.5,0.75,0.5,0.872340,0
1,0.335,0.88,1.0,0.0,1.0,0.5,0.75,1.0,0.265957,1
2,0.335,0.00,1.0,0.0,0.0,0.5,1.00,0.0,0.468085,0
3,0.335,0.50,0.0,1.0,1.0,0.5,1.00,0.0,0.340426,0
4,0.335,0.34,1.0,1.0,0.0,0.5,0.75,0.0,0.468085,1

In [16]:
df.to_csv(r'C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis (SAS)\std_Diagnosis.csv')

In [4]:
df_class_0=df[df['Diagnosis']==0]
df_class_1=df[df['Diagnosis']==1]

In [5]:
df.Diagnosis.value_counts()

0    88
1    12
Name: Diagnosis, dtype: int64

In [6]:
df_class_1_over=df_class_1.sample(88,replace=True)
df_class_1_over.shape

(88, 10)

In [7]:
df_test_over=pd.concat([df_class_0,df_class_1_over],axis=0)

In [8]:
df_test_over.shape

(176, 10)

In [9]:
df_test_over

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.316753,0.173970,-2.586949,1.128152,0.980196,-0.328810,-0.192006,0.434959,2.551481,0
2,-0.316753,-1.400045,0.386556,-0.886405,-1.020204,-0.328810,1.008032,-0.807781,0.502532,0
3,-0.316753,0.671028,-2.586949,1.128152,0.980196,-0.328810,1.008032,-0.807781,-0.144505,0
5,-0.316753,0.008284,0.386556,-0.886405,0.980196,-0.328810,-0.192006,0.434959,0.502532,0
6,-0.316753,0.008284,-2.586949,-0.886405,-1.020204,-2.059391,-0.192006,-0.807781,0.179013,0
...,...,...,...,...,...,...,...,...,...,...
19,1.360990,0.008284,0.386556,-0.886405,-1.020204,-0.328810,-0.192006,1.677698,-0.144505,1
29,1.360990,0.008284,-2.586949,-0.886405,0.980196,-0.328810,-1.392045,0.434959,0.502532,1
29,1.360990,0.008284,-2.586949,-0.886405,0.980196,-0.328810,-1.392045,0.434959,0.502532,1
70,-0.316753,-1.400045,0.386556,1.128152,-1.020204,-2.059391,-0.192006,0.434959,2.551481,1
26,1.360990,0.008284,0.386556,-0.886405,0.980196,-0.328810,-1.392045,-0.807781,-0.144505,1

In [10]:
df_test_over.to_csv(r"C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis (SAS)\diagnosis_over.csv")

In [9]:
x=df.drop('Diagnosis',axis=1)
y=df['Diagnosis']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8)

In [11]:
x_train.shape

(20, 9)

In [19]:
y_train.shape

(20,)

In [21]:
model = keras.Sequential([
    keras.layers.Dense(9, input_shape=(9,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=30)

Epoch 1/30
1/1 [==============================] - 0s 301ms/step - loss: 0.6434 - accuracy: 0.7500
Epoch 2/30
1/1 [==============================] - 0s 970us/step - loss: 0.6403 - accuracy: 0.7500
Epoch 3/30
1/1 [==============================] - 0s 2ms/step - loss: 0.6372 - accuracy: 0.7500
Epoch 4/30
1/1 [==============================] - 0s 2ms/step - loss: 0.6342 - accuracy: 0.7500
Epoch 5/30
1/1 [==============================] - 0s 2ms/step - loss: 0.6312 - accuracy: 0.7500
Epoch 6/30
1/1 [==============================] - 0s 998us/step - loss: 0.6282 - accuracy: 0.7500
Epoch 7/30
1/1 [==============================] - 0s 958us/step - loss: 0.6252 - accuracy: 0.7500
Epoch 8/30
1/1 [==============================] - 0s 996us/step - loss: 0.6224 - accuracy: 0.7500
Epoch 9/30
1/1 [==============================] - 0s 1ms/step - loss: 0.6195 - accuracy: 0.8000
Epoch 10/30
1/1 [==============================] - 0s 2ms/step - loss: 0.6167 - accuracy: 0.8000
Epoch 11/30
1/1 [==============================] - 0s 2ms/step - loss: 0.6138 - accuracy: 0.8000
Epoch 12/30
1/1 [==============================] - 0s 980us/step - loss: 0.6109 - accuracy: 0.8000
Epoch 13/30
1/1 [==============================] - 0s 1ms/step - loss: 0.6079 - accuracy: 0.8000
Epoch 14/30
1/1 [==============================] - 0s 1ms/step - loss: 0.6049 - accuracy: 0.8000
Epoch 15/30
1/1 [==============================] - 0s 972us/step - loss: 0.6019 - accuracy: 0.8000
Epoch 16/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5990 - accuracy: 0.8000
Epoch 17/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5960 - accuracy: 0.8000
Epoch 18/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5931 - accuracy: 0.8000
Epoch 19/30
1/1 [==============================] - 0s 982us/step - loss: 0.5901 - accuracy: 0.8000
Epoch 20/30
1/1 [==============================] - 0s 986us/step - loss: 0.5871 - accuracy: 0.8000
Epoch 21/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5843 - accuracy: 0.8000
Epoch 22/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5815 - accuracy: 0.8000
Epoch 23/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5788 - accuracy: 0.8000
Epoch 24/30
1/1 [==============================] - 0s 979us/step - loss: 0.5761 - accuracy: 0.8000
Epoch 25/30
1/1 [==============================] - 0s 998us/step - loss: 0.5733 - accuracy: 0.8000
Epoch 26/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5706 - accuracy: 0.8000
Epoch 27/30
1/1 [==============================] - 0s 973us/step - loss: 0.5679 - accuracy: 0.8000
Epoch 28/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5653 - accuracy: 0.8000
Epoch 29/30
1/1 [==============================] - 0s 2ms/step - loss: 0.5627 - accuracy: 0.8000
Epoch 30/30
1/1 [==============================] - 0s 976us/step - loss: 0.5601 - accuracy: 0.8000

In [22]:
model.evaluate(x_test,y_test)

3/3 [==============================] - 0s 702us/step - loss: 0.4419 - accuracy: 0.9000

[0.44190484285354614, 0.8999999761581421]

In [44]:
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.metrics import f1_score

logreg = LogReg()

# Fitting the model
model=logreg.fit(x_train, y_train)

In [46]:
train_predict = model.predict(x_train)
k = f1_score(train_predict, y_train)
print('Test f1_score    ', k )

Test f1_score     0.0

In [45]:
test_predict = model.predict(x_test)
k = f1_score(test_predict, y_test)
print('Test f1_score    ', k )

Test f1_score     0.0

In [23]:
df_test_over.to_csv(r"C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis (SAS)\diagnosis_over.csv")

In [ ]:
import seaborn as sb
sb.boxplot(df[''])